<div class="container">
<div class="mt-3">
  <h1>Acerca de</h1>
</div>
<div class="row, mb-3">
  <div class="card">
    <h5 class="card-header">Autor</h5>
    <div class="card-body">
      <h5 class="card-title">Efrén Jiménez Carrión</h5>
      <p class="card-text">
        Diseño de aplicaciones web en entorno cliente<br>
        2º DAW
      </p>
    </div>
  </div>
</div>
<div class="row, mb-3">
  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div><div class="row, mb-3">
  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-6 ">
      <app-listado-usuarios></app-listado-usuarios>
    </div>
  </div>




</div>